@model IEnumerable<Prodam.Models.Dominio.Fornecedor>

<h3>Resultado da Busca </h3>


<a asp-action="Filtro" class="btn btn-default">Voltar</a>


<hr />
<table class="table table-striped table-hover">
    <thread>
        <tr class="info">

            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MomentoCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DadosPessoaFisica.Rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DadosPessoaFisica.DataNascimento)
            </th>


            <th></th>

        </tr>
    </thread>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpj)
            </td>
            <th>
                @Html.DisplayFor(model => item.MomentoCadastro)
            </th>
            <th>
                @Html.DisplayFor(model => item.Empresa.Nome)
            </th>
            <th>
                @Html.DisplayFor(model => item.TipoPessoa)
            </th>
            <th>
                @Html.DisplayFor(model => item.DadosPessoaFisica.Rg)
            </th>
            <th>
                @Html.DisplayFor(model => item.DadosPessoaFisica.DataNascimento)
            </th>


        </tr>
        }
    </tbody>
</table>
